body {
    background-image: url(/img/images/bkg-5.jpg);
    background-size: cover;
    background-position: center;
}
#nav-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: rgba(0, 0, 0, 0.75);
    height: fit-content;
    padding-top: 5px;
    padding-bottom: none;
}
#nav-logo {
    grid-column: 2 / 3;
    display: flex;
    justify-content: right;
    height: 100px;
}
#nav-logo img {
    max-width: 100%;
    max-height: auto;
}
#nav-logo-header {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    height: 100px;
}
#nav-logo-header img {
    max-width: 100%;
    max-height: auto;
}
@media screen and (max-width: 850px) {
    #nav-logo-header img {
        max-height: 100px;
    }
}
#nav-menu {
    grid-column: 4 / 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav-menu a {
    display: flex;
    color: rgb(219, 163, 72);
    justify-content: left;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    max-width: 100%;
    max-height: 100px;
}
#nav-quote {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    margin-top: none;
    max-height: fit-content;
    max-width: 100%;
}
#nav-quote h2 {
    display: flex;
    justify-content: center;
    color: rgb(219, 163, 72);
    font-family: "Caveat Brush", cursive;
    font-weight: thin;
    font-style: thin;
}
#game-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5px;
    background-color: rgba(122, 24, 24, 0.75);
    border-radius: 10px;
}
#dynamic-image {
    grid-column: 2 / 3;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: auto;
}
#dynamic-image img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#game-text {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}
#game-text p {
    display: flex;
    justify-items: center;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(219, 163, 72);
    padding-left: 10px;
}
#character-stats {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    font-family: 'Arial Black', sans-serif; 
    font-size: 24px; 
    color: rgb(219, 163, 72); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 10px;
}
#game-buttons {
    grid-column: 2 / 8;
    width: 100%;
    display: flex;
    justify-content: center;
}
#game-buttons button {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.7s ease-in-out; 
}
#game-buttons button:hover {
    background-color: rgb(122, 24, 24);
    animation: scale(1.5);
    transform: scale(1.1);
}
#game-window {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row-gap: 20px;
    background-color: rgba(219, 163, 72, 0.80);
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: center;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}