#nav-main {
    display: flex;
    border: red solid;
    justify-content: space-between;
}
#nav-logo {
    display: flex;
    border: blue solid;
    margin-left: 10px;
}
#nav-menu {
    border: purple solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 175px;
}
#nav-menu a {
    border: orange solid;
    display: inline-block;
    margin-right: 10px;
}
#game-window {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: black solid;
}
#game-text {
    border: orange solid;
    grid-column: span 3;
    grid-row: span 0.75;
    grid-column-start: 2.5;
    grid-column-end: 4.5;
    grid-row-start: 3.25;
    grid-row-end: 4;
}
#character-stats {
    border: brown solid;
}
#game-buttons {
    border: yellow solid;
}
#dynamic-image {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
#dynamic-image img {
    width: 100%;
    height: 100%;
}